<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khanhpd.khanhpdph05706_ass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DangNhap" />
        <activity android:name=".activity.thongke.TongSoLuongCongNhan" />
        <activity android:name=".activity.thongke.TongSoHangHoa" />
        <activity
            android:name=".activity.DanhSachCongNhan"/>
        <activity
            android:name=".activity.DanhSachHangHoa"/>
        <activity
            android:name=".activity.TrangChu"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.ThongKe"></activity>
    </application>

</manifest>